/* App.css */

.page {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.intro-background {
  width: 100%;
  background: url("../../assets/images/background-image.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.saved-background {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
}

.search {
  max-width: 608px;
  width: 100%;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 60px;
}

.search__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 16px;
  color: #ffffff;
}

.search__title-break {
  display: block;
}

.search__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  color: #ffffff;
}

.app__keyboard-img {
  display: block;
  width: 100%;
  margin: 24px auto;
  height: auto;
  object-fit: contain;
}


@media (max-width: 768px) {
  .search {
    padding-top: 86px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .search__title {
    font-size: 36px;
    line-height: 40px;
  }
}


@media (max-width: 768px) {
  .page {
    width: 100%;
  }
}