.main {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.search-section__title {
  margin: 0 0 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: left;
  padding: 80px 104px 0; /* Top padding instead of margin-top */
}

.results-section {
  background-color: #fff;
  width: 100%;
}

@media (max-width: 1024px) {
  .search-section__title {
    padding: 0 48px;
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .results-section {
    padding: 40px 16px 48px;
  }

  .search-section__title {
    padding: 0 24px;
    font-size: 22px;
  }
}


